*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120vh;
    background: black;

}

.container{
    position: relative;
    height: 400px;

}
.cloud{
    position: relative;
    top: 50px;
    width: 340px;
    height: 150px;
    background: white;
    border-radius: 120px;
}

.cloud::before{
    content: "";
    position: absolute;
    top: -50px;
    left: 50px;
    width: 120px;
    height: 150px;
    background: white;
    border-radius: 50%;
    box-shadow: 70px 0 0 20px white;
}

.coinShower{
position: relative;
display: flex;
z-index: 1;
padding: 0 15px;
}


.coinShower span{
    position: relative;
    width: 14px;
    height: 15px;
    background: #FFFF00;
    margin: 0 1.8px;
    border-radius: 50%;
    bottom: 15px;
    animation: coinShowerAnim 3s linear infinite;
    /* now we will animate the duration */
    animation-duration: calc(10s/var(--i));
transform-origin: bottom;
}

@keyframes coinShowerAnim{
    0%{
        transform: translateY(0) scale(1);
    }
    60%{
        transform: translateY(280px) scale(0.8);
    }
    100%{
        transform: translateY(280px)scale(0);
    }
}


